<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 <display-name>HA2_FabianHehemann_JSF_706315</display-name>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>/faces/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.xhtml</url-pattern>
 </servlet-mapping>
 
 
   <!-- Diese Einstellung verhindert, dass nach dem Abmelden nicht beim wiederholten
  Aufruf eine ViewExceptionError geschmissen wird! -->
  <context-param>
        <param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
        <param-value>true</param-value>
    </context-param>
 
 <welcome-file-list>
  <welcome-file>/protected/public/index.xhtml</welcome-file>
 </welcome-file-list>
 <!-- Seiten nur fuer die ADMIN-Rolle -->
 <security-constraint>
  <display-name>Constraint-Admin</display-name>
  <web-resource-collection>
   <web-resource-name>Constraint-Admin</web-resource-name>
   <url-pattern>/protected/admin/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>ADMIN-ROLE</role-name>
  </auth-constraint>
  <user-data-constraint>
   <transport-guarantee>NONE</transport-guarantee>
  </user-data-constraint>
 </security-constraint>
 
 <!-- Seiten nur fuer die USER-Rolle -->
 <security-constraint>
  <display-name>Constraint-User</display-name>
  <web-resource-collection>
   <web-resource-name>Constraint-User</web-resource-name>
   <url-pattern>/protected/public/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>ADMIN-ROLE</role-name>
   <role-name>USER-ROLE</role-name>
  </auth-constraint>
  <user-data-constraint>
   <transport-guarantee>NONE</transport-guarantee>
  </user-data-constraint>
 </security-constraint>
 <login-config>
  <auth-method>FORM</auth-method>
  <realm-name>DBAuthTest_HA2</realm-name>
  <form-login-config>
   <form-login-page>/login.xhtml</form-login-page>
   <form-error-page>/loginFehler.xhtml</form-error-page>
  </form-login-config>
 </login-config>
 <security-role>
  <role-name>ADMIN-ROLE</role-name>
 </security-role>
 <security-role>
  <role-name>USER-ROLE</role-name>
 </security-role>
</web-app>
